<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="home_head">
    <meta charset="UTF-8"/>
    <meta name="description" content=""/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <!--Title-->
    <title>Tin mới - Thời sự, xã hội, cuộc sống</title>
    <link rel="icon" th:href="@{/img/core-img/favicon.ico}"/>
    <link th:href="@{style.css}" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" th:src="@{/js/jquery/jquery-2.2.4.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap/popper.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/plugins/plugins.js}"></script>
    <script type="text/javascript" th:src="@{/js/active.js}"></script>


</head>
<body>
<header th:fragment="home_menu" class="header-area">

    <!-- Top Header Area -->
    <div class="top-header-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="top-header-content d-flex align-items-center justify-content-between">
                        <!-- Logo -->
                        <div class="logo">
                            <a href="#"><img th:src="@{/img/core-img/logo.png}" alt=""/></a>
                        </div>

                        <!-- Login Search Area -->
                        <div class="login-search-area d-flex align-items-center">
                            <!-- Login -->
                            <div class="login d-flex">
                                <div th:if="${#httpServletRequest.userPrincipal == null}">
                                    <a th:href="@{/login}">Login</a>
                                    <a href="" ref="#">Register</a>

                                </div>
                                <div th:if="${#httpServletRequest.userPrincipal != null}">
                                    <strong style="color: #fff">Xin chào:</strong>
                                    <a style="font-size: 18px; text-decoration: underline" th:href="@{/userAccountInfo}" th:utext="${#httpServletRequest.userPrincipal.name}+' !!'"/>
                                    <a th:href="@{/logout}" ref="#">Logout</a>

                                </div>



                            </div>
                            <!-- Search Form -->
                            <div class="search-form">
                                <form action="#" method="post">

                                    <input type="search" name="search" class="form-control" placeholder="Search"/>

                                    <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Navbar Area -->
    <div id="stickyMenu-sticky-wrapper" class="sticky-wrapper" style="height: 80px;"><div class="newspaper-main-menu" id="stickyMenu" style="width: 1521px;">
        <div class="classy-nav-container breakpoint-off light left">
            <div class="container">
                <!-- Menu -->
                <nav class="classy-navbar justify-content-between" id="newspaperNav">

                    <!-- Logo -->
                    <div class="logo">
                        <a href="#"><img th:src="@{img/core-img/logo.png}" alt=""/></a>
                    </div>

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">

                        <!-- close btn -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>

                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul>
                                <li class="active"><a href="#">Home</a></li>
                                <li class="cn-dropdown-item has-down"><a href="#">Pages</a>
                                    <ul class="dropdown">
                                        <li><a href="">Home</a></li>
                                        <li><a href="#">Catagories</a></li>
                                        <li><a href="#">Single Articles</a></li>
                                        <li><a href="#">About Us</a></li>
                                        <li><a href="#">Contact</a></li>
                                        <li class="has-down"><a href="#">Dropdown</a>
                                            <ul class="dropdown">
                                                <li><a href="#">Home</a></li>
                                                <li><a href="#">Catagories</a></li>
                                                <li><a href="#">Single Articles</a></li>
                                                <li><a href="#">About Us</a></li>
                                                <li><a href="#">Contact</a></li>
                                            </ul>
                                            <span class="dd-trigger"></span></li>
                                    </ul>
                                    <span class="dd-trigger"></span></li>
                                <li class="megamenu-item"><a href="#">Mega Menu</a>
                                    <div class="megamenu">
                                        <ul class="single-mega cn-col-4">
                                            <li class="title">Catagories</li>
                                            <li><a href="#">Home</a></li>
                                            <li><a href="#">Catagories</a></li>
                                            <li><a href="#">Single Articles</a></li>
                                            <li><a href="#">About Us</a></li>
                                            <li><a href="#">Contact</a></li>
                                        </ul>
                                        <ul class="single-mega cn-col-4">
                                            <li class="title">Catagories</li>
                                            <li><a href="#">Home</a></li>
                                            <li><a href="#">Catagories</a></li>
                                            <li><a href="#">Single Articles</a></li>
                                            <li><a href="#">About Us</a></li>
                                            <li><a href="#">Contact</a></li>
                                        </ul>
                                        <ul class="single-mega cn-col-4">
                                            <li class="title">Catagories</li>
                                            <li><a href="#">Home</a></li>
                                            <li><a href="#">Catagories</a></li>
                                            <li><a href="#">Single Articles</a></li>
                                            <li><a href="#">About Us</a></li>
                                            <li><a href="#">Contact</a></li>
                                        </ul>
                                        <div class="single-mega cn-col-4">
                                            <!-- Single Featured Post -->
                                            <div class="single-blog-post small-featured-post d-flex">
                                                <div class="post-thumb">
                                                    <a href="#"><img th:src="@{/img/bg-img/23.jpg}" alt=""/></a>
                                                </div>
                                                <div class="post-data">
                                                    <a href="#" class="post-catagory">Travel</a>
                                                    <div class="post-meta">
                                                        <a href="#" class="post-title">
                                                            <h6>Pellentesque mattis arcu massa, nec fringilla turpis eleifend id.</h6>
                                                        </a>
                                                        <p class="post-date"><span>7:00 AM</span> | <span>April 14</span></p>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Single Featured Post -->
                                            <div class="single-blog-post small-featured-post d-flex">
                                                <div class="post-thumb">
                                                    <a href="#"><img th:src="@{img/bg-img/24.jpg}" alt=""/></a>
                                                </div>
                                                <div class="post-data">
                                                    <a href="#" class="post-catagory">Politics</a>
                                                    <div class="post-meta">
                                                        <a href="#" class="post-title">
                                                            <h6>Augue semper congue sit amet ac sapien. Fusce consequat.</h6>
                                                        </a>
                                                        <p class="post-date"><span>7:00 AM</span> | <span>April 14</span></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <span class="dd-trigger"></span></li>
                                <li><a href="#">Politics</a></li>
                                <li><a href="#">Breaking News</a></li>
                                <li><a href="#">Business</a></li>
                                <li><a href="#">Technology</a></li>
                                <li><a href="#">Health</a></li>
                                <li><a href="#">Travel</a></li>
                                <li><a href="#">Sports</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul>
                        </div>
                        <!-- Nav End -->
                    </div>
                </nav>
            </div>
        </div>
    </div></div>
</header>

<footer class="footer-area" th:fragment="footer">

    <!-- Main Footer Area -->
    <div class="main-footer-area">
        <div class="container">
            <div class="row">

                <!-- Footer Widget Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="footer-widget-area mt-80">
                        <!-- Footer Logo -->
                        <div class="footer-logo">
                            <a href="index.html"><img th:src="@{/img/core-img/logo.png}" alt=""/></a>
                        </div>
                        <!-- List -->
                        <ul class="list">
                            <li><a href="mailto:contact@youremail.com">contact@youremail.com</a></li>
                            <li><a href="tel:+4352782883884">+43 5278 2883 884</a></li>
                            <li><a href="http://yoursitename.com">www.yoursitename.com</a></li>
                        </ul>
                    </div>
                </div>

                <!-- Footer Widget Area -->
                <div class="col-12 col-sm-6 col-lg-2">
                    <div class="footer-widget-area mt-80">
                        <!-- Title -->
                        <h4 class="widget-title">Politics</h4>
                        <!-- List -->
                        <ul class="list">
                            <li><a href="#">Business</a></li>
                            <li><a href="#">Markets</a></li>
                            <li><a href="#">Tech</a></li>
                            <li><a href="#">Luxury</a></li>
                        </ul>
                    </div>
                </div>

                <!-- Footer Widget Area -->
                <div class="col-12 col-sm-4 col-lg-2">
                    <div class="footer-widget-area mt-80">
                        <!-- Title -->
                        <h4 class="widget-title">Featured</h4>
                        <!-- List -->
                        <ul class="list">
                            <li><a href="#">Football</a></li>
                            <li><a href="#">Golf</a></li>
                            <li><a href="#">Tennis</a></li>
                            <li><a href="#">Motorsport</a></li>
                            <li><a href="#">Horseracing</a></li>
                            <li><a href="#">Equestrian</a></li>
                            <li><a href="#">Sailing</a></li>
                            <li><a href="#">Skiing</a></li>
                        </ul>
                    </div>
                </div>

                <!-- Footer Widget Area -->
                <div class="col-12 col-sm-4 col-lg-2">
                    <div class="footer-widget-area mt-80">
                        <!-- Title -->
                        <h4 class="widget-title">FAQ</h4>
                        <!-- List -->
                        <ul class="list">
                            <li><a href="#">Aviation</a></li>
                            <li><a href="#">Business</a></li>
                            <li><a href="#">Traveller</a></li>
                            <li><a href="#">Destinations</a></li>
                            <li><a href="#">Features</a></li>
                            <li><a href="#">Food/Drink</a></li>
                            <li><a href="#">Hotels</a></li>
                            <li><a href="#">Partner Hotels</a></li>
                        </ul>
                    </div>
                </div>

                <!-- Footer Widget Area -->
                <div class="col-12 col-sm-4 col-lg-2">
                    <div class="footer-widget-area mt-80">
                        <!-- Title -->
                        <h4 class="widget-title">+More</h4>
                        <!-- List -->
                        <ul class="list">
                            <li><a href="#">Fashion</a></li>
                            <li><a href="#">Design</a></li>
                            <li><a href="#">Architecture</a></li>
                            <li><a href="#">Arts</a></li>
                            <li><a href="#">Autos</a></li>
                            <li><a href="#">Luxury</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


</footer>

</body>
</html>