<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="admin_head">
    <meta charset="UTF-8"/>
    <title>Trang Chủ Quản Trị</title>
    <link th:href="@{/admin/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/admin/css/animate.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/admin/css/light-bootstrap-dashboard.css?v=2.0.0}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/admin/css/demo.css}" rel="stylesheet" type="text/css"/>

    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'/>
    <link th:href="@{/admin/css/pe-icon-7-stroke.css}" rel="stylesheet" />
    <link th:href="@{/admin/css/sweetalert2.min.css}" rel="stylesheet" />
    <link href = "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link th:href="@{/admin/css/modal/modal.css}" rel="stylesheet" />

    <script type="text/javascript" th:src="@{/admin/js/jquery.3.2.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/admin/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/admin/js/bootstrap-notify.js}"></script>
    <script type="text/javascript" th:src="@{/admin/js/chartist.min.js}"></script>
    <script type="text/javascript" th:src="@{/admin/js/light-bootstrap-dashboard.js}"></script>
    <script type="text/javascript" th:src="@{/admin/js/demo.js}"></script>
    <script type="text/javascript" th:src="@{/admin/js/jquery.twbsPagination.js}"></script>
    <script type="text/javascript" th:src="@{/admin/js/sweetalert2.min.js}"/>


</head>
<body>
<div th:fragment="menu">
    <div class="sidebar" data-color="purple">



        <div class="sidebar-wrapper">
            <div class="logo">
                <a href="" class="simple-text">
                    Creative Tim
                </a>
            </div>

            <ul class="nav nav-mobile-menu">
                <ul class="nav navbar-nav navbar-left">
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-dashboard"></i>
                            <p class="hidden-lg hidden-md">Thông tin cá nhân</p>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-globe"></i>
                            <b class="caret hidden-lg hidden-md"></b>
                            <p class="hidden-lg hidden-md">
                                5 Notifications
                                <b class="caret"></b>
                            </p>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Notification 1</a></li>
                            <li><a href="#">Notification 2</a></li>
                            <li><a href="#">Notification 3</a></li>
                            <li><a href="#">Notification 4</a></li>
                            <li><a href="#">Another notification</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="">
                            <i class="fa fa-search"></i>
                            <p class="hidden-lg hidden-md">Search</p>
                        </a>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="">
                            <p>Account</p>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <p>
                                Dropdown
                                <b class="caret"></b>
                            </p>

                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">
                            <p>Log out</p>
                        </a>
                    </li>
                    <li class="separator hidden-lg"></li>
                </ul>
            </ul><ul class="nav">
            <li class="active">
                <a href="#">
                    <i class="pe-7s-graph"></i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li>
                <a th:href="@{/quan-tri/bai-viet/danh-sach(page=1,limit=4)}">
                    <i class="pe-7s-user"></i>
                    <p>Bài viết</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="pe-7s-note2"></i>
                    <p>Table List</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="pe-7s-news-paper"></i>
                    <p>Typography</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="pe-7s-science"></i>
                    <p>Icons</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="pe-7s-map-marker"></i>
                    <p>Maps</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="pe-7s-bell"></i>
                    <p>Notifications</p>
                </a>
            </li>

        </ul>
        </div>
        <div class="sidebar-background"></div>
</div>
</div>

<!--Nav Admin-->

    <!--Nav bar-->
    <nav th:fragment="nav_admin" class="navbar navbar-findcond ">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Findcond</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-fw fa-bell-o"></i> Bildirimler <span class="badge">0</span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#"><i class="fa fa-fw fa-tag"></i> <span class="badge">Music</span> sayfası <span class="badge">Video</span> sayfasında etiketlendi</a></li>
                            <li><a href="#"><i class="fa fa-fw fa-thumbs-o-up"></i> <span class="badge">Music</span> sayfasında iletiniz beğenildi</a></li>
                            <li><a href="#"><i class="fa fa-fw fa-thumbs-o-up"></i> <span class="badge">Video</span> sayfasında iletiniz beğenildi</a></li>
                            <li><a href="#"><i class="fa fa-fw fa-thumbs-o-up"></i> <span class="badge">Game</span> sayfasında iletiniz beğenildi</a></li>
                        </ul>
                    </li>
                    <li class="active"><a href="#">Ana Sayfa <span class="sr-only">(current)</span></a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Admin <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Geri bildirim</a></li>
                            <li><a href="#">Yardım</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Ayarlar</a></li>
                            <li><a href="#exit">Çıkış yap</a></li>
                        </ul>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
<!--Nav Admin-->

<!-- Modal EDIT ADD-->
<div th:fragment="modal" >
    <th:block th:switch="${modal}">
        <div th:case="news_insert">
            <div th:replace="common/modal/modal_news :: modal_news"/>
        </div>
        <div th:case="news_update">
            <div  th:replace="common/modal/modal_news :: modal_news_up"/>
        </div>




    </th:block>



</div>
<!--MODAL JS-->
<script type="text/javascript" th:fragment="modal_js">
    var modal = document.getElementById("myModal");

    var btn = document.getElementById("btn_add");

    var span = document.getElementsByClassName("close")[0];

    btn.onclick = function() {
        modal.style.display = "block";
    }

    span.onclick = function() {
        modal.style.display = "none";
    }

    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>

<!--Function delete JS-->
<script th:inline="javascript" th:fragment="delete_js">
    var currentPage = [[${newOutPut.page}]];
    var totalPage = [[${newOutPut.totalPage}]];
    $(function() {
        window.pagObj = $('#pagination').twbsPagination({
            totalPages : totalPage,
            visiblePages : 10,
            startPage : currentPage,
            onPageClick : function(event, page) {
                if (currentPage != page) {
                    $('#limit').val(4);
                    $('#page').val(page);
                    $('#formPagination').submit();
                }
            }
        });
    });

    function warningBeforeDelete() {
        swal({
            title : "Are you sure?",
            text : "You will not be able to recover this imaginary file!",
            type : "warning",
            showCancelButton : true,
            confirmButtonClass : "btn-danger",
            confirmButtonText : "Yes, delete it!",
            cancelButtonText : "No, cancel plx!",


        }).then(
            function(result) {
                if (result.value) {
                    var data = {};
                    var ids = $('tbody input[type=checkbox]:checked').map(function() {
                        return $(this).val();
                    }).get();

                    deleteNew(ids);


                } else {
                    swal("Cancelled", "Your imaginary file is safe :)",
                        "error");
                }
            });

        function deleteNew(data) {
            $.ajax({
                url : '/api/new',
                type : 'DELETE',
                contentType: 'application/json',
                data : JSON.stringify(data),
                success : function(result) {

                    window.location.href="/quan-tri/bai-viet/danh-sach?alert=success";

                },
                error : function(error) {
                    window.location.href="/quan-tri/bai-viet/danh-sach?alert=error";
                }
            });
        }
    }
</script>

<!--FUNCTION ADD AND EDIT JS -->
<script th:fragment="js_addEdit" th:inline="javascript">
    $('#btnAddAndEdit').click(function (e){
        e.preventDefault();
        var data= {};
        var formData = $('#formSubmitAdd').serializeArray();
        $.each(formData,function (i,v){
            data[""+v.name+""]=v.value;
        })
        var id = $('#newId').val();

        if(id==""){
            addNew(data);
        }else{
            updateNew(data);
        }
    })

    function addNew(data){
        $.ajax({
            url:'/api/new',
            type:'POST',
            contentType: "application/json",
            data: JSON.stringify(data),
            dataType: 'json',
            success: function (result){
                window.location.href="/quan-tri/bai-viet/danh-sach?alert=success";
            },
            error: function (error){
                window.location.href="/quan-tri/bai-viet/danh-sach?alert=error";
            }
        });
    }
    function updateNew(data){
        $.ajax({
            url:'/api/new',
            type:'PUT',
            contentType: "application/json",
            data: JSON.stringify(data),
            dataType: 'json',
            success: function (result){
                window.location.href="/quan-tri/bai-viet/danh-sach?alert=success";
            },
            error: function (error){
                window.location.href="/quan-tri/bai-viet/danh-sach?alert=error";
            }
        });
    }

</script>
<script type="text/javascript" th:src="@{/admin/js/table/main.js}"></script>
</body>
</html>