<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/fragments_admin :: admin_head">

</head>
<body>
<!--header-->
<div class="wrapper">
    <header th:replace="common/fragments_admin :: menu"/>



    <div class="main-panel">
        <!--Nav bar-->
        <nav th:replace="common/fragments_admin :: nav_admin"/>
        <!--/Nav bar-->
<div class="mid">
            <div class="container-fluid">
                <div class="row">
                    <div th:if="${alert_sucess}" class="col-md-12">
                        <div class="alert alert-success">
                            <button type="button" aria-hidden="true" class="close" data-dismiss="alert">
                                <i class="nc-icon nc-simple-remove"></i>
                            </button>
                            <span>
                                <b> Success - </b> <b th:utext="${alert_sucess}"/>"</span>
                        </div>
                    </div>
                    <div th:if="${alert_error}" class="col-md-12">
                        <div class="alert alert-danger">
                            <button type="button" aria-hidden="true" class="close" data-dismiss="alert">
                                <i class="nc-icon nc-simple-remove"></i>
                            </button>
                            <span>
                                <b> Error - </b><b th:utext="${alert_error}"/> </span>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="btn-del-add">
                            <button class="btn btn-warning btn-sm rounded-0" type="button"  data-toggle="tooltip" data-placement="top" title="Delete" id="btn_add"><i class="fa fa-plus-circle"></i></button>
                            <button class="btn btn-danger btn-sm rounded-0" type="button" onclick="warningBeforeDelete()" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-trash"></i></button>
                    </div>

                </div>

            </div>

        </div>
        <!--Table-->
        <form th:action="@{/quan-tri/bai-viet/danh-sach}" id="formSubmit" method="get">
        <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card border-0 shadow">
                        <div class="card-body p-5">

                            <!-- Responsive table -->
                            <div class="table-responsive">
                                <table class="table m-0">
                                    <thead>
                                    <tr>
                                        <th><input type="checkbox" id="checkAll"/></th>
                                        <th scope="col">Id</th>
                                        <th scope="col">Tên Tiêu đề</th>
                                        <th scope="col">Mô tả ngắn</th>
                                        <th scope="col"> Thao tác</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="result : ${newOutPut.listResult}">
                                        <th><input type="checkbox" th:id="'check_'+${result.id}" th:value="${result.id}"/></th>
                                        <th  th:text="${result.id}"></th>
                                        <td th:text="${result.title}"></td>
                                        <td th:text="${result.shortDescription}"></td>
                                        <td>
                                            <!-- Call to action buttons -->
                                            <ul class="list-inline m-0">

                                                <li class="list-inline-item">
                                                    <button class="btn btn-success btn-sm rounded-0" type="button" th:onclick="|window.location.href='@{/quan-tri/bai-viet/chinh-sua(id=${result.id})}'|" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-edit"></i></button>
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>


                            </div>
                        </div>
                    </div>
                </div>

            </div>

        <!--/Table-->
        </div>



        </form>
    <form th:action="@{/quan-tri/bai-viet/danh-sach}" id="formPagination" method="get">
        <ul class="pagination" id="pagination"></ul>
        <input type="hidden" value="" id="page" name="page" /> <input
            type="hidden" value="" id="limit" name="limit"/>
    </form>
    <!--Modal-->
    <div id="myModal" class="modal">
        <div th:replace="common/fragments_admin :: modal"/>
    </div>

    <!--Modal-->

    </div>


    </div>


</div>





<!--Contend-->





<!--/Content-->
<script th:inline="javascript" th:replace="common/fragments_admin :: delete_js"/>
<script th:replace="common/fragments_admin :: modal_js"/>
<script th:replace="common/fragments_admin :: js_addEdit"/>





</body>
</html>